body {
  margin: 0px;
}

.app-container {
  background-color: #93c5fd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-container {
  background-color: #f8fafc;
  border-radius: 30px;
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.heading {
  font-family: Roboto;
}

.selection-container {
  display: flex;
}

.select-capital {
  height: 30px;
  width: 140px;
  margin: 20px;
  padding-left: 10px;
}

.option {
  font-family: Roboto;
  font-size: 20px;
}

.question {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
}

.country {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  align-self: flex-start;
  padding: 30px;
}
